.header-1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 60px;
}

.header-2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
}

.header-3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
