body {
  color: #434455;
  font-family: Roboto, Raleway, sans-serif;
  background-color: #ffffff;
}

.header-1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.071;
  color: #2e2f42;
}

.header-2 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.header-3 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  color: #2e2f42;
}
.nav-webstudio {
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}
.nav-webstudio .plan-name {
  color: #404bbf;
}

.nav-studio {
  color: #2e2f42;
  text-decoration: none;
}
.nav-studio:hover {
  color: #404bbf;
}
.nav-studio:active {
  color: #404bbf;
  text-decoration: underline;
}

.nav-portfolio {
  color: #2e2f42;
  text-decoration: none;
}
.nav-portfolio:hover {
  color: #404bbf;
}

.nav-contacts {
  color: #2e2f42;
  text-decoration: none;
}
.nav-contacts:hover {
  color: #404bbf;
}

.mailto {
  text-decoration: none;
  color: #2e2f42;
}
.mailto:hover {
  color: #404bbf;
}

.tel {
  text-decoration: none;
  color: #2e2f42;
}
.tel:hover {
  color: #404bbf;
}
